@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

// Variables
$main-bg: #6D9C99;
// $main-blue: #2B656A;
$main-blue: #195159;
$main-yellow: #FEB933;
$main-white: #FFFFFF;
// $-white: #FDFBF9;
$focus-white: #FCFCFD;
$normal-white: #F5F8F9;
$main-grey: #E9E4D6;
$secondary-grey: #cfcdcd;
$third-grey: #F1F1F1;
$secondary-yellow: #D8A13E;
$hover-blue: #36898C;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main-bg;
    padding: 20px;
    // margin: auto;
}

.container{
    // width: 793.75px;
    // width: 793.75px;
    width: 870px;
    // height: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    // margin-right: 450px;
    // margin: auto;
}

.left-part{
    background-color: $main-blue;
    height: auto;
    // max-width: 40%;
    width: 45%;
    display: flex;
    align-items: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    img{
        position: relative;
        right: 97px;
        width: 397.5px;
        height: 421.25px;

    }
}

.img-container{
    img{
        display: none;
    }
}

.right-part{
    width: 100%;
    background-color: $main-yellow;
    height: auto;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    .triangle-img-container{
        img{
            position: relative;
            // right: 43px;
            // right: 45px;
            // height: 484.5px;
            // bottom: 4px;
            right: 56px;
            height: 603.125px;
            bottom: -1px;
        }
    }
}

.vector-img{
    display:none;
}

.form-container{
    // width: 50px;
    max-height: 300px;
    background-color: $main-white;
    position: relative;
    right: 16px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    max-width: 340px;
    min-width: 312px;
    padding-bottom: 0;
    box-shadow: 0 3px 21px 4px rgba(0, 0, 0, 0.2);
    bottom: 30px;

    

    form{
        // padding: 2rem;

        .form-top-container{
            display: flex;
            flex-direction: row;
            background-color: $main-white;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            padding: 25px;
            box-shadow: 0 3px 14px 0px rgba(0, 0, 0, 0.2);

            h5{
                color: $secondary-yellow;
                text-transform: uppercase;
                letter-spacing: 3.5px;
                font-size: 11.5px;
                font-weight:    800;
            }

            p{
                color: $secondary-grey;
                font-size: 0.8rem;
                // float: right;
                // display: inline-block;
                margin-left: auto;
                font-weight: 500;
                cursor: pointer;
                transition: 0.3s ease-in;
            }

            p:hover{
                opacity: 0.8;
            }
        }

        .form-items-container{
            padding: 0.7rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            .form-input{
                min-width: 270px;
                height: 42px;
                border: 1.9px solid $main-grey;
                border-radius: 4px;
                outline: none;
                padding: 3.5px 8px;
                background-color: $third-grey;
                font-family: 'Red Hat Display', sans-serif;
                letter-spacing: 1px;
                font-size: 14px;
                font-weight: 600;

                
            }

            .form-input:focus{
                outline: none;
                background-color: $main-white;
            }
            
            .form-input::placeholder{
                font-size: 14px;
                font-weight: 600;
                font-family: 'Red Hat Display', sans-serif;
                letter-spacing: 1px;
                // line-height: 19px;
            }

            .first-input{
                margin-top: 1rem;
                // margin-bottom: px;
            }

            .second-input{
                margin-top: 0.3rem;
                margin-bottom: 20px;
                // min-width: 270px;
                // width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .form-input:nth-child(2){
                // margin-bottom: 30px;
                margin-top: 0.4rem !important;

            }

            i{
                // display: none;
            //     // font-size: ;
            //     // display: inline-block;
                position: absolute;
                // bottom: 0.1px;
                transform: translateY(-7px);
                right: 32px;
                cursor: pointer;
                color: rgb(133, 133, 133);
                // color: red

            }

            button{
                display: block;
                min-width: 270px;
                height: 50px;
                border-color: transparent;
                border-radius: 4px;
                background-color: $main-blue;
                color: $main-white;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
                transition: 0.3s ease-in;
                text-transform: uppercase;
            }

            button:hover{
                opacity: 0.91;
            }
        }


    }

    // .form-bottom-container{
        // padding: 
    // }

    .form-bottom-container{
        // display: flex;
        text-align: center;
        position: relative;
        top: 60px;

        p{
            font-size: 17px;
            font-weight: 500;
            cursor: pointer;
        }

        p:nth-child(1){
            color: $main-white;
            margin-bottom: 10px;
        }

        p:nth-child(2){
            color: $main-blue;
        }

        // p{
            // display: block;
        // }

    }


}


// Responsive Design
@media (max-width: 991px){    
    .container{
        // width: 793.75px;
        width: 817px;
        // width: 635px;
        // height: 600px;
        height: 480px;

        // width: 900px;
        // display: flex;
        // flex-direction: row;
        border-radius: 4px;
        margin-right: 0;
        // margin: 3rem;
    }
    
    .left-part{
        // background-color: $main-blue;
        height: auto;
        // max-width: 40%;
        width: 47%;
        // display: flex;
        // align-items: center;
        // border-top-left-radius: 4px;
        img{
            // position: relative;
            right: 75px;
    
        }
    }
    .right-part{
        // width: 50%;
        // background-color: $main-yellow;
        height: auto;
        // display: flex;
        // flex-direction: row;
    
        .triangle-img-container{
            img{
                // position: relative;
                // right: 43px;
                // right: 45px;
                // height: 484.5px;
                // bottom: 4px;
                right: 45px;
                height: 484.5px;
                // bottom: 2px;
            }
        }
    }
    
    // .form-container{
        // width: 50px;
        // height
    
        // form{
            // .form-top-container{
                // display: flex;
                // flex-direction: row;
                // background-color: $main-white;
            // }
        // }
    // }

.form-container{
    right: 24px;
    bottom: 28px;

    form{
        .form-top-container{
            h5{
                letter-spacing: 3px;
            }
        }
    }

    .form-bottom-container{
        top: 48px;
    }
}
    
}

@media (max-width: 830px) {
    // *{display: none;}
    // .main-container{
        // height: 100%;
    // }

    .container{
        flex-direction: column;
        // width: 290px;
        min-height: 430px;
        width: 350px;

    }

    .left-part{
        width: 100%;
        height: 46%;
        background-color: transparent;
        // align-items: center;

        img{
            width: 250px;
            height: auto;
            right: 0;

            display: none;
        }
        display: none;

    }

    .img-container{
        width: 100%;
        // height: 10px;
        display: flex;
        // position: relative;
        // align-items: center;
        justify-content: center;

        img{
            display: block;
            width: 115px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            // padding: 4px;
            background-color: $main-blue;
            border-radius: 50%;
            top: 50px;
            // transform: translateY(10px);
        }
    }

    .vector-img{
        width: 115px;
        height: auto;
        background-color: $main-blue;
        border-radius: 50%;
        display: inline-block;
        // position: relative;
        position: absolute;
        // transform: translate(-50%, -50%);
        // top: 50px;
        // top: 65px;
        // right: calc();
        // left: calc(50% - 50px);

        // top: 9%;
        // left: 41%;

        // top: 60px;
        // margin-top: 7%;

        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center; 
        // top: 8vh;
        // margin-top: auto;
        // margin-top: ;
        // top: 50px;
        // top: calc(height);
        top: -200px;


    }

    .right-part{
        width: 100%;
        // height: 100%;
        border-radius: 4px;
        min-height: 580px;


        .triangle-img-container{
            img{
                display: none;
            }
        }
    }

    .form-container{
        // align-items: center;
        // justify-content: center;
        right: 0px;
        min-width: 280px;
        bottom: 0px;
        // min-height: 150px;
        margin-left: auto;
        margin-right: auto;
        // min-height: 290px;



        form{
            // .form-secondary-container{
                // padding: 50px 0;
            // }

            .form-top-container{
                // display: none;
                // width: 150px;
                // background-color: transparent;
                margin-left: auto;
                margin-right: auto;
                box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.2);
                padding: 15px;

                h5{
                    font-size: 10px;
                    letter-spacing: 2.5px;
                }

                p{
                    font-size: 0.7rem;
                }
            }

            .form-items-container{
                // display: none;
                width: 240px;

                .form-input{
                    min-width: 255px;
                    margin-left: auto;
                    margin-right: auto;
                }

                .second-input{
                    min-width: 255px;
                    margin-left: auto;
                    margin-right: auto;
                }

                button{
                    min-width: 255px;
                    margin-bottom: 8px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        .form-bottom-container{
            margin-top: 1.6rem;
        }
    }
}

@media (max-width:380px) {
    .main-container{
        height: 115vh;
    }
    .container{
        // padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .form-container{
        min-width: 240px;

        form{
            .form-items-container{
                .form-input{
                    min-width: 210px;
                }

                .second-input{
                    margin-left: 0;
                    margin-right: 0;
                }

                button{
                    min-width: 210px;
                }
            }
        }
    }
}

@media (max-height: 630px) {
    // *{display: none;}
    .main-container{
        height: 110vh;
    }
}

@media (max-height: 570px) {
    .main-container{
        height: 135vh;
    }
}

@media (max-height: 530px) {
    .main-container{
        height: 145vh;
    }
}