@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6D9C99;
  padding: 20px;
}

.container {
  width: 870px;
  height: 600px;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
}

.left-part {
  background-color: #195159;
  height: auto;
  width: 45%;
  display: flex;
  align-items: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.left-part img {
  position: relative;
  right: 97px;
  width: 397.5px;
  height: 421.25px;
}

.img-container img {
  display: none;
}

.right-part {
  width: 100%;
  background-color: #FEB933;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.right-part .triangle-img-container img {
  position: relative;
  right: 56px;
  height: 603.125px;
  bottom: -1px;
}

.vector-img {
  display: none;
}

.form-container {
  max-height: 300px;
  background-color: #FFFFFF;
  position: relative;
  right: 16px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  max-width: 340px;
  min-width: 312px;
  padding-bottom: 0;
  box-shadow: 0 3px 21px 4px rgba(0, 0, 0, 0.2);
  bottom: 30px;
}

.form-container form .form-top-container {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 25px;
  box-shadow: 0 3px 14px 0px rgba(0, 0, 0, 0.2);
}

.form-container form .form-top-container h5 {
  color: #D8A13E;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  font-size: 11.5px;
  font-weight: 800;
}

.form-container form .form-top-container p {
  color: #cfcdcd;
  font-size: 0.8rem;
  margin-left: auto;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.form-container form .form-top-container p:hover {
  opacity: 0.8;
}

.form-container form .form-items-container {
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container form .form-items-container .form-input {
  min-width: 270px;
  height: 42px;
  border: 1.9px solid #E9E4D6;
  border-radius: 4px;
  outline: none;
  padding: 3.5px 8px;
  background-color: #F1F1F1;
  font-family: 'Red Hat Display', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
}

.form-container form .form-items-container .form-input:focus {
  outline: none;
  background-color: #FFFFFF;
}

.form-container form .form-items-container .form-input::placeholder {
  font-size: 14px;
  font-weight: 600;
  font-family: 'Red Hat Display', sans-serif;
  letter-spacing: 1px;
}

.form-container form .form-items-container .first-input {
  margin-top: 1rem;
}

.form-container form .form-items-container .second-input {
  margin-top: 0.3rem;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container form .form-items-container .form-input:nth-child(2) {
  margin-top: 0.4rem !important;
}

.form-container form .form-items-container i {
  position: absolute;
  transform: translateY(-7px);
  right: 32px;
  cursor: pointer;
  color: #858585;
}

.form-container form .form-items-container button {
  display: block;
  min-width: 270px;
  height: 50px;
  border-color: transparent;
  border-radius: 4px;
  background-color: #195159;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease-in;
  text-transform: uppercase;
}

.form-container form .form-items-container button:hover {
  opacity: 0.91;
}

.form-container .form-bottom-container {
  text-align: center;
  position: relative;
  top: 60px;
}

.form-container .form-bottom-container p {
  font-size: 17px;
  font-weight: 500;
}

.form-container .form-bottom-container p:nth-child(1) {
  color: #FFFFFF;
  margin-bottom: 10px;
}

.form-container .form-bottom-container p:nth-child(2) {
  color: #195159;
}

@media (max-width: 991px) {
  .container {
    width: 817px;
    height: 480px;
    border-radius: 4px;
    margin-right: 0;
  }
  .left-part {
    height: auto;
    width: 47%;
  }
  .left-part img {
    right: 75px;
  }
  .right-part {
    height: auto;
  }
  .right-part .triangle-img-container img {
    right: 45px;
    height: 484.5px;
  }
  .form-container {
    right: 24px;
    bottom: 28px;
  }
  .form-container form .form-top-container h5 {
    letter-spacing: 3px;
  }
  .form-container .form-bottom-container {
    top: 48px;
  }
}

@media (max-width: 830px) {
  .container {
    flex-direction: column;
    min-height: 430px;
    width: 350px;
  }
  .left-part {
    width: 100%;
    height: 46%;
    background-color: transparent;
    display: none;
  }
  .left-part img {
    width: 250px;
    height: auto;
    right: 0;
    display: none;
  }
  .img-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .img-container img {
    display: block;
    width: 115px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #195159;
    border-radius: 50%;
    top: 50px;
  }
  .vector-img {
    width: 115px;
    height: auto;
    background-color: #195159;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: -160px;
  }
  .right-part {
    width: 100%;
    border-radius: 4px;
    min-height: 580px;
  }
  .right-part .triangle-img-container img {
    display: none;
  }
  .form-container {
    right: 0px;
    min-width: 280px;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .form-container form .form-top-container {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 15px;
  }
  .form-container form .form-top-container h5 {
    font-size: 10px;
    letter-spacing: 2.5px;
  }
  .form-container form .form-top-container p {
    font-size: 0.7rem;
  }
  .form-container form .form-items-container {
    width: 240px;
  }
  .form-container form .form-items-container .form-input {
    min-width: 255px;
    margin-left: auto;
    margin-right: auto;
  }
  .form-container form .form-items-container .second-input {
    min-width: 255px;
    margin-left: auto;
    margin-right: auto;
  }
  .form-container form .form-items-container button {
    min-width: 255px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }
  .form-container .form-bottom-container {
    margin-top: 1.6rem;
  }
}

@media (max-width: 380px) {
  .form-container {
    min-width: 240px;
  }
  .form-container form .form-items-container .form-input {
    min-width: 210px;
  }
  .form-container form .form-items-container .second-input {
    margin-left: 0;
    margin-right: 0;
  }
  .form-container form .form-items-container button {
    min-width: 210px;
  }
}
