@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6D9C99;
}

.container {
  width: 635px;
  height: 480px;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
}

.left-part {
  background-color: #2B656A;
  height: auto;
  width: 46%;
  display: flex;
  align-items: center;
}

.left-part img {
  position: relative;
  right: 75px;
}

.right-part {
  width: 50%;
  background-color: #FEB933;
  height: auto;
}

.right-part .triangle-img-container img {
  position: relative;
  right: 45px;
  height: 484.5px;
  bottom: 4px;
}
